// font
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../../assets/fonts/HelveticaNeue.ttc);
}
// div flex for form
@mixin fdivflex{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
// colors
$inputborder: #BCBCBC;
$btncolor: #6B40E3;
$uploadbtn: #0E80BF;
$formbackground: #F9F9F9;
$btnhover: #7949FF;
$btnfocus: #512FAF;
$maintext: #F93B1D;
// main style
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeue',Georgia,Times,serif;
}
.step{
    display: none;
}
.step.active{
    display: block;
}
// containers
.main_container{
    background-color: $formbackground;
    display: flex;
}
.form_container{
    width: 50%;
    padding: 47px 146px 95px;
}
.fillCV{
    width: 50%;
    background-color: #FFFFFF;
}
// back button
#back_button{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
}
// heading
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #1A1A1A;
}

.header_p{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.pagenum{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.formhr{
    border: 1px solid #1A1A1A;
}
// form page 1
.warningicon, .uploaded{display: none;};
#email_icon, #Phone_icon{
    display: none;
}
input, textarea{
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
input:focus-visible {
    outline-width: 2px;
    outline-color: $inputborder;
}
textarea:focus-visible {
    outline-width: 2px;
    outline-color: $inputborder;
}
label{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.validText{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}
.fullname{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}
.fname, .lname{
    @include fdivflex;
    width: 47%;
}
.addphoto{
    display: flex;
    gap: 19px;
    margin-bottom: 41px;
}
.addphoto p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
}
.uploadbtn{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: $uploadbtn;
    border-radius: 4px;
    padding: 6px 19px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 27px;
}

.phnum, .email, .textarea{
    @include fdivflex;
}
.textarea textarea{
    height: 93px;
    margin-bottom: 27px;
}
.email{
    margin-bottom: 13px;
}
.nextbtn{
    margin-top: 152px;
    display: flex;
    justify-content: space-between;
}
.f-end{
    justify-content:flex-end;
}
.nextbtn button{
    padding: 15px 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    background-color: $btncolor;
    text-decoration: none;
    border-radius: 4px;
    border: none;
}
.nextbtn button:hover{
    background-color: $btnhover;
}
.nextbtn button:focus{
    background-color: $btnfocus;
}

// form page 2

.position, .employer, .date, .aducation{
    @include fdivflex;
    margin-bottom: 12px;
}
.position, .aducation{
    margin-top: 69px;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start_date, .end_date{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 45%;
}
.exper_1, .educ_1{
    margin-bottom: 40px;
}
.form2_hr{
    margin-top: 50px;
    margin-bottom: 45px;
}
.addexperience{
    padding: 18px 60px;
    background: #62A1EB;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
// form page 3
.select-group{
    position: relative;
}
.option{
    display: none;
}
.dropdown{
    display: flex;
    flex-direction: column;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 28px rgba(0, 0, 0, 0.24);
    position: absolute;
    width: 100%;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}
.arrow{
    border: solid #484848;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
}
.select-item{
    padding: 10px 0 10px 16px;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.select-item:hover{
    background-color: #C3DCEE;
}
.hidden{
    display: none;
}


// cv style
.fillCV hr{
    display: none;
}
.fillCV{
    padding: 68px 80px;
    position: relative;
}
.firstsection{
    display: flex;
    justify-content: space-between;
}
#personimg{
    width: 246px;
    height: 246px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 75px;
}
#personimg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.personinfo{
    width: 71%;
}

#full_name{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: $maintext;
    margin-bottom: 17px;
}
.person_email, .person_phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
#about_me, #workplace, #aboutwork, #education_quality,#aboutedu{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.section_h{
    display: none;
    color: $maintext;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 15px;
}
.fillCV hr{
    border: 1px solid #C8C8C8;
    margin-top: 32px;
}
#edu_date, #work_date{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191; 
    margin-top: 7px;
    margin-bottom: 16px;
}
#cvlogo{
    position: absolute;
    bottom: 44px
}